.header {
    height: 10vh;
    width: 100vw;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: black;
    }
}

.body {
    height: 78vh;
    display: flex;
}
